:root {
    /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
    font-family: "Nunito Sans", sans-serif;
     /* Colors */
    --dm-element: #2b3945;
    --dm-bg: #202c37;
    --text: #111517;
    --input: #858585;
    --lbg: #fafafa;
    --bg: #ffffff;

    /* Typography  */
    font-size: 16px;

    --padd-x: 5em;
    --icon-w: 1.5rem;
    --box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    --br: 0.5rem;
  }
  

  .light{
    background-color: var(--lbg);
    color: var(--text);
  }
  .dark{
    background-color: var(--dm-element);
    color: var(--lbg);
  }

  .light-app{
    background-color: var(--lbg);
    color: var(--text);
  }

  .dark-app{
    background-color: var(--dm-bg);
    color: var(--lbg);
  }

  .page-app{
    height: auto;
    margin-bottom: 0;
  }
